* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
    line-height: 200%;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgba(231, 26, 146, 0.973);
    color: rgb(226, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}
.caixa-maior{
    background-color: rgb(255, 255, 255);
    color: rgb(173, 0, 130);
    padding: 30px;
    border-radius: 10px;
}
input{
    outline: none;
}
.caixa-pequena{
    display: flex;
    align-items: center;
}

.previsao { 

text-transform: capitalize;
}

